Workflows/GameSimulation-5D928EFF-3028-EC11-B6E5-0022486F6E7D.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_25383"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_797e6"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Spiel ID","type":"string","x-ms-dynamically-added":true,"description":"Eingabe eingeben","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Verzögern":{"runAfter":{"Neue_Zeile_hinzufügen_2":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Neue_Zeile_hinzufügen":{"runAfter":{"Verzögern":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690001,"item/cr921_name":"Tor YB 1 : 0","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":10},"authentication":"@parameters('$authentication')"}},"Verzögern_2":{"runAfter":{"Zeile_aktualisieren":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"Verzögern_3":{"runAfter":{"Neue_Zeile_hinzufügen_12":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Neue_Zeile_hinzufügen_3":{"runAfter":{"Verzögern_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690001,"item/cr921_name":"YB 1 : 1 Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":35},"authentication":"@parameters('$authentication')"}},"Verzögern_4":{"runAfter":{"Zeile_aktualisieren_2":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Neue_Zeile_hinzufügen_4":{"runAfter":{"Verzögern_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690005,"item/cr921_name":"YB - Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":45},"authentication":"@parameters('$authentication')"}},"Verzögern_5":{"runAfter":{"Neue_Zeile_hinzufügen_4":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"Neue_Zeile_hinzufügen_5":{"runAfter":{"Verzögern_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690007,"item/cr921_name":"Paul Pogba","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":60},"authentication":"@parameters('$authentication')"}},"Verzögern_6":{"runAfter":{"Neue_Zeile_hinzufügen_5":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}},"Neue_Zeile_hinzufügen_6":{"runAfter":{"Verzögern_10":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690001,"item/cr921_name":"YB 2 : 1 Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":70},"authentication":"@parameters('$authentication')"}},"Neue_Zeile_hinzufügen_7":{"runAfter":{"Verzögern_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690003,"item/cr921_name":"Sandro Lauper <-> Cédric Zesiger","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":87},"authentication":"@parameters('$authentication')"}},"Verzögern_7":{"runAfter":{"Neue_Zeile_hinzufügen_10":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Neue_Zeile_hinzufügen_8":{"runAfter":{"Verzögern_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690001,"item/cr921_name":"YB 3 : 1 Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":85},"authentication":"@parameters('$authentication')"}},"Verzögern_8":{"runAfter":{"Neue_Zeile_hinzufügen_7":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Neue_Zeile_hinzufügen_9":{"runAfter":{"Verzögern_12":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":100000004,"item/cr921_name":"Ende - YB 3 : 1 Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":95},"authentication":"@parameters('$authentication')"}},"Verzögern_9":{"runAfter":{"Zeile_aktualisieren_4":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Neue_Zeile_hinzufügen_11":{"runAfter":{"Verzögern_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690006,"item/cr921_name":"YB","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":69},"authentication":"@parameters('$authentication')"}},"Get_Game":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","$filter":"contains(new_id,'@{triggerBody()['text']}')"},"authentication":"@parameters('$authentication')"}},"Neue_Zeile_hinzufügen_12":{"runAfter":{"Verzögern_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690007,"item/cr921_name":"Cristiano Ronaldo","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":25},"authentication":"@parameters('$authentication')"}},"Neue_Zeile_hinzufügen_2":{"runAfter":{"Auf_alle_anwenden_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":100000001,"item/cr921_name":"YB - Manchester United","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":1},"authentication":"@parameters('$authentication')"}},"Auf_alle_anwenden_2":{"foreach":"@outputs('Get_Game')?['body/value']","actions":{"Zeile_nach_ID_abrufen":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","recordId":"@items('Auf_alle_anwenden_2')?['new_spielid']"},"authentication":"@parameters('$authentication')"}},"Variable_festlegen":{"runAfter":{"Zeile_nach_ID_abrufen":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Spiel","value":"@outputs('Zeile_nach_ID_abrufen')?['body/new_spielid']"}}},"runAfter":{"Variable_initialisieren_2":["Succeeded"]},"type":"Foreach"},"Variable_initialisieren_2":{"runAfter":{"Get_Game":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Spiel","type":"string"}]}},"Zeile_aktualisieren":{"runAfter":{"Neue_Zeile_hinzufügen":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","recordId":"@variables('Spiel')","item/new_toregegner":0,"item/new_toreyb":1},"authentication":"@parameters('$authentication')"}},"Zeile_aktualisieren_2":{"runAfter":{"Neue_Zeile_hinzufügen_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","recordId":"@variables('Spiel')","item/new_toregegner":1,"item/new_toreyb":1},"authentication":"@parameters('$authentication')"}},"Zeile_aktualisieren_3":{"runAfter":{"Neue_Zeile_hinzufügen_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","recordId":"@variables('Spiel')","item/new_toregegner":1,"item/new_toreyb":2},"authentication":"@parameters('$authentication')"}},"Zeile_aktualisieren_4":{"runAfter":{"Neue_Zeile_hinzufügen_8":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_spiels","recordId":"@variables('Spiel')","item/new_toregegner":1,"item/new_toreyb":3},"authentication":"@parameters('$authentication')"}},"Verzögern_10":{"runAfter":{"Neue_Zeile_hinzufügen_11":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Verzögern_11":{"runAfter":{"Zeile_aktualisieren_3":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Neue_Zeile_hinzufügen_10":{"runAfter":{"Verzögern_11":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690004,"item/cr921_name":"Let's Go YB","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":75},"authentication":"@parameters('$authentication')"}},"Neue_Zeile_hinzufügen_13":{"runAfter":{"Verzögern_9":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr921_matchereignisses","item/cr921_ereignistyp":244690008,"item/cr921_name":"Cristiano Ronaldo ","item/new_spielid":"@triggerBody()['text']","item/new_spielminute":88},"authentication":"@parameters('$authentication')"}},"Verzögern_12":{"runAfter":{"Neue_Zeile_hinzufügen_13":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}}}}},"schemaVersion":"1.0.0.0"}